header.page
	nav
		ul
			li(class=(page === 'home') ? 'active' : undefined)
				a(href='/', title='') home
			li(class=(page === 'about') ? 'active' : undefined)
				a(href='about', title='') about
			li(class=(page === 'secret') ? 'active' : undefined)
				a(href='secret', title='') secret
			li(class=(page === '404') ? 'active' : undefined)
				a(href='404', title='') 404
